{% extends 'base.html' %}
{% block content %}
<h1>Add Appointment for {{ customer.name }}</h1>

<form method="POST">
  <div class="mb-3">
   <label class="form-label">Date (required)</label>
    <input class="form-control" type="date" name="start_datetime" required>
  </div>

  <div class="mb-3">
   <label class="form-label">End date (optional)</label>
    <input class="form-control" type="date" name="end_datetime">
  </div>

  <div class="mb-3">
    <label class="form-label">Notes</label>
    <textarea class="form-control" name="notes"></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Save</button>
  <a class="btn btn-secondary" href="{{ url_for('appointments_for_customer', customer_id=customer.id) }}">Cancel</a>
</form>
{% endblock %}